<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="EmployeeBC" class="com.mistertandon.model.Employee"
		autowire="constructor">
		<constructor-arg name="employeeId" value="104981"></constructor-arg>
		<constructor-arg name="employeeName" value="Mister Tandon"></constructor-arg>
		<constructor-arg name="employeeEmailId" value="enggparveshtandon@gmail.com"></constructor-arg>
	</bean>
	<bean id="PanCardBC" class="com.mistertandon.model.PanCard">
		<property name="panCardNumber" value="ZQROS4803A"></property>
		<property name="panCardHolderName" value="Mister Tandon"></property>
	</bean>
</beans>