<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="CommunicationId" class="com.mistertandon.communication.Communication">
		<!-- <constructor-arg name="activeMessageObj" ref="ActiveMessageId"></constructor-arg> -->
		<constructor-arg name="activeMessageObj" ref="HRMessageId"></constructor-arg>
	</bean>
	<bean id="ActiveMessageId" class="com.mistertandon.message.ActiveMessage">
	</bean>
	<bean id="HRMessageId" class="com.mistertandon.message.HRMessage">
	</bean>
</beans>