<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	<!-- If there are numbers of classes need Beans post initialization method 
		and pre destroy method, use default-init-method and default-destroy-method 
		attributes with corresponding method name in BEANS TAG Exp: [ default-init-method="init" 
		default-destroy-method="destroy" ] -->
	<bean id="MessageCB" class="com.mistertanon.model.Message"
		init-method="init" destroy-method="destroy">
		<property name="messageId" value="104981"></property>
		<property name="message" value="Mister Tandon"></property>
	</bean>
</beans>