<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="message" class="com.mistertandon.model.Message" scope="singleton">
		<property name="messageId" value="104981"></property>
		<property name="message" value="Parvesh Tandon"></property>
	</bean>

</beans>