<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="EmployeeBC" class="com.mistertandon.model.Employee"
		autowire="byType">
		<property name="employeeId" value="104981"></property>
		<property name="employeeName" value="Parvesh Tandon"></property>
		<property name="employeeEmail" value="enggparveshtandon@gmail.com"></property>
	</bean>
	<bean id="panCard" class="com.mistertandon.model.PanCard">
		<property name="panHolderName" value="Parvesh Tandon"></property>
		<property name="panNumber" value="ARSPT4803A"></property>
	</bean>
</beans>