<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="RandomNumberGeneratorBC" class="com.mistertandon.model.RandomNumberGenerator">
		<property name="randomNumber" value="#{T(java.lang.Math).random()}"></property>
		<property name="pi" value="#{T(java.lang.Math).PI}"></property>
	</bean>

</beans>