<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="TicketVendingMachineBC" class="com.mistertandon.model.TicketVendingMachine"
		scope="singleton">
		<lookup-method name="generateTicket" bean="TicketBC" />
	</bean>
	<bean id="TicketBC" class="com.mistertandon.model.Ticket" scope="prototype"></bean>

</beans>