<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="TelephoneDirectoryBC" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="parvesh" value="965078071"></entry>
				<entry key="praveen" value="921494329"></entry>
				<entry key="prabhash" value="80946635"></entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="TelephoneDirectoryAccessorBC" class="com.mistertandon.model.TelephoneDirectoryAccessor">
		<property name="telephoneNumber" value="#{TelephoneDirectoryBC['parvesh']}"></property>
	</bean>

</beans>